

////
/// @module shadow: 阴影
/// @category style
////

// Elevation & Shadow
// 根据 Alibaba Base DPL(BASE DPL)设计规范实现
// 在现实生活中，不同对象可以被堆积或粘贴起来，但是不能彼此交叉。对象自身塑造了自己的阴影并返回自己的光影。
// 规则: x == y), 所有方向阴影的 blur 值), 透明度), 颜色都应该相同
// -------------------------------

// 变量: x), y), color), opacity), elevation
// 常量: base(45度)), top), right), bottom), left
 /// Sides Up
/// @type String
$shadow-sides-up: "up" ;
/// Sides Right
/// @type String
$shadow-sides-right: "right" ;
/// Sides Down
/// @type String
$shadow-sides-down: "down" ;
/// Sides Left
/// @type String
$shadow-sides-left: "left" ;

$shadow-sides-base: "base" ;
// ---------------- 阴影方向 ---------------- //
@function shadow-maker(
    $blur: $shadow-blur-sd1,
    $shadow-color: $shadow-color-opacity-sd1,
    $shadow-x: $shadow-distance-sd1,
    $shadow-y: $shadow-distance-sd1,
    $shadow-spread: $shadow-spread-sd1

) {
    $x: $shadow-x;
    $y: $shadow-y;
    $b: $blur;
    $c: $shadow-color; 
    $s: $shadow-spread;

    // @if ($direction == $shadow-sides-up) {
    //     $x: 0;
    //     $y: -#{$shadow-y};
    // } @else if ($direction == $shadow-sides-right) {
    //     $y: 0;
    // } @else if ($direction == $shadow-sides-down) {
    //     $x: 0;
    // } @else if ($direction == $shadow-sides-left) {
    //     $x: -$shadow-x;
    //     $y: 0;
    // }

    @return #{$x}px #{$y}px #{$b}px #{$s}px $c;
}

@mixin shadow() {
    /// Sides Base
    /// @type String
   
   

    // ---------------- 阴影距离 ----------------- //

    /// Distance 1
    /// @type Number
    --shadow-distance-sd1:1px;
    /// Distance 2
    /// @type Number
    --shadow-distance-sd2:2px;
    /// Distance 3
    /// @type Number
    --shadow-distance-sd3:3px;

    // ---------------- 阴影透明度 ----------------- //

    /// Opacity 1
    /// @type Number
    --shadow-opacity-sd1:.12;
    /// Opacity 2
    /// @type Number
    --shadow-opacity-sd2:.12;
    /// Opacity 3
    /// @type Number
    --shadow-opacity-sd3:.12;

    // ---------------- 阴影颜色 ----------------- //

    // /// Color 1
    // /// @type Color
    // --shadow-color-sd1: rgba(0,0,0,var()) ;

    // /// Color 2
    // /// @type Color
    // --shadow-color-sd2: rgb(var(--color-black)) ;

    // /// Color 3
    // /// @type Color
    // --shadow-color-sd3: rgb(var(--color-black)) ;

    // 带透明度的颜色变量
    --shadow-color-opacity-sd1: rgba(0,0,0, 0.12) ;
    --shadow-color-opacity-sd2: rgba(0,0,0, var(--shadow-opacity-sd2)) ;
    --shadow-color-opacity-sd3: rgba(0,0,0, var(--shadow-opacity-sd3)) ;

    // ------------------ 阴影羽化值 ---------------- //

    /// Blur 1
    /// @type Number
    --shadow-blur-sd1:3px;

    /// Blur 2
    /// @type Number
    --shadow-blur-sd2:4px;

    /// Blur 3
    /// @type Number
    --shadow-blur-sd3:5px;

    // ------------------ 阴影扩散值 ---------------- //

    /// Spread 1
    /// @type Number
    --shadow-spread-sd1:0 ;

    /// Spread 2
    /// @type Number
    --shadow-spread-sd2:0 ;

    /// Spread 3
    /// @type Number
    --shadow-spread-sd3:0 ;

    // ------------------ Shadow Values ---------------- //

    /// shadow-zero
    /// @export
    /// @unconfigurable
    --shadow-zero: none;



    /// shadow-1
    /// @semantic 阴影1-右下
    /// @export
    /// @unconfigurable
    // --shadow-1: #{shadow-maker(var(--shadow-blur-sd1), var(--shadow-color-opacity-sd1), var(--shadow-distance-sd1), var(--shadow-distance-sd1), var(--shadow-spread-sd1))};
    --shadow-1: var(--shadow-distance-sd1) var(--shadow-distance-sd1) var(--shadow-blur-sd1) var(--shadow-spread-sd1) rgba(0,0,0,0.12);

    // /// shadow-1-up
    // /// @semantic 阴影1-上
    // /// @export
    // /// @unconfigurable
    // --shadow-1-up: #{shadow-maker(var(--shadow-blur-sd1), var(--shadow-color-opacity-sd1), 0, -var(--shadow-distance-sd1), var(--shadow-spread-sd1))};

    // /// shadow-1-right
    // /// @semantic 阴影1-右
    // /// @export
    // /// @unconfigurable
    // --shadow-1-right: shadow-maker(var(--shadow-sides-right), var(--shadow-blur-sd1), var(--shadow-color-opacity-sd1), var(--shadow-distance-sd1), var(--shadow-distance-sd1), var(--shadow-spread-sd1));

    // /// shadow-1-down
    // /// @semantic 阴影1-下
    // /// @export
    // /// @unconfigurable
    // --shadow-1-down: shadow-maker(var(--shadow-sides-down), var(--shadow-blur-sd1), var(--shadow-color-opacity-sd1), var(--shadow-distance-sd1), var(--shadow-distance-sd1), var(--shadow-spread-sd1));

    // /// shadow-1-left
    // /// @semantic 阴影1-左
    // /// @export
    // /// @unconfigurable
    // --shadow-1-left: shadow-maker(var(--shadow-sides-left), var(--shadow-blur-sd1), var(--shadow-color-opacity-sd1), var(--shadow-distance-sd1), var(--shadow-distance-sd1), var(--shadow-spread-sd1));

    // /// shadow-2
    // /// @semantic 阴影2-右下
    // /// @export
    // /// @unconfigurable
    // --shadow-2: shadow-maker(var(--shadow-sides-base), var(--shadow-blur-sd2), var(--shadow-color-opacity-sd2), var(--shadow-distance-sd2), var(--shadow-distance-sd2), var(--shadow-spread-sd2));
    // /// shadow-2-up
    // /// @semantic 阴影2-上
    // /// @export
    // /// @unconfigurable
    // --shadow-2-up: shadow-maker(var(--shadow-sides-up), var(--shadow-blur-sd2), var(--shadow-color-opacity-sd2), var(--shadow-distance-sd2), var(--shadow-distance-sd2), var(--shadow-spread-sd2));
    // /// shadow-2-right
    // /// @semantic 阴影2-右
    // /// @export
    // /// @unconfigurable
    // --shadow-2-right: shadow-maker(var(--shadow-sides-right), var(--shadow-blur-sd2), var(--shadow-color-opacity-sd2), var(--shadow-distance-sd2), var(--shadow-distance-sd2), var(--shadow-spread-sd2));
    // /// shadow-2-down
    // /// @semantic 阴影2-下
    // /// @export
    // /// @unconfigurable
    // --shadow-2-down: shadow-maker(var(--shadow-sides-down), var(--shadow-blur-sd2), var(--shadow-color-opacity-sd2), var(--shadow-distance-sd2), var(--shadow-distance-sd2), var(--shadow-spread-sd2));
    // /// shadow-2-left
    // /// @semantic 阴影2-左
    // /// @export
    // /// @unconfigurable
    // --shadow-2-left: shadow-maker(var(--shadow-sides-left), var(--shadow-blur-sd2), var(--shadow-color-opacity-sd2), var(--shadow-distance-sd2), var(--shadow-distance-sd2), var(--shadow-spread-sd2));

    // /// shadow-3
    // /// @semantic 阴影3-右下
    // /// @export
    // /// @unconfigurable
    // --shadow-3: shadow-maker(var(--shadow-sides-base), var(--shadow-blur-sd3), var(--shadow-color-opacity-sd3), var(--shadow-distance-sd3), var(--shadow-distance-sd3), var(--shadow-spread-sd3));
    // /// shadow-3-up
    // /// @semantic 阴影3-上
    // /// @export
    // /// @unconfigurable
    // --shadow-3-up: shadow-maker(var(--shadow-sides-up), var(--shadow-blur-sd3), var(--shadow-color-opacity-sd3), var(--shadow-distance-sd3), var(--shadow-distance-sd3), var(--shadow-spread-sd3));
    // /// shadow-3-right
    // /// @semantic 阴影3-右
    // /// @export
    // /// @unconfigurable
    // --shadow-3-right: shadow-maker(var(--shadow-sides-right), var(--shadow-blur-sd3), var(--shadow-color-opacity-sd3), var(--shadow-distance-sd3), var(--shadow-distance-sd3), var(--shadow-spread-sd3));
    // /// shadow-3-down
    // /// @semantic 阴影3-下
    // /// @export
    // /// @unconfigurable
    // --shadow-3-down: shadow-maker(var(--shadow-sides-down), var(--shadow-blur-sd3), var(--shadow-color-opacity-sd3), var(--shadow-distance-sd3), var(--shadow-distance-sd3), var(--shadow-spread-sd3));
    // /// shadow-3-left
    // /// @semantic 阴影3-左
    // /// @export
    // /// @unconfigurable
    // --shadow-3-left: shadow-maker(var(--shadow-sides-left), var(--shadow-blur-sd3), var(--shadow-color-opacity-sd3), var(--shadow-distance-sd3), var(--shadow-distance-sd3), var(--shadow-spread-sd3));


    // ----------- patch ----------- //
    --shadow-0: var(--shadow-zero);
}
