@mixin box-sizing {
    box-sizing: border-box;
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
}

@mixin button-size($padding, $height, $font-size, $border-width) {
    padding: 0 $padding;
    height: $height;
    line-height: calc(#{$height} - 2 * #{$border-width});
    font-size: $font-size;
    border-width: $border-width;
}


@mixin button-color($color, $color-hover, $bg-color: transparent, $bg-color-hover: transparent, $border-color: transparent, $border-color-hover: transparent) {
    background-color: $bg-color;
    border-color: $border-color;

    &,
    &:link,
    &:visited,
    &.visited {
        color: $color;
    }

    // &:focus,
    &:hover,
    &.hover,
    &:active,
    &.active {
        color: $color-hover;
        background-color: $bg-color-hover;
        border-color: $border-color-hover;
        text-decoration: none;
    }
}


@mixin icon-size($size, $marginLeft: false, $marginRight: false, $transform: false) {
    @if ($transform) {
        transform: $transform;
    }
    @if ($marginLeft) {
        margin-left: $marginLeft;
    }
    @if ($marginRight) {
        margin-right: $marginRight;
    }

    &:before {
        width: $size;
        font-size: $size;
        line-height: inherit;
    }

    // Chrome不支持小于12px的字体，故采用缩放的方式缩小字体
    // @if (type-of($size) == 'number') {
    //     @if ($size < 12) {
    //         @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    //             @if ($transform) {
    //                 transform: scale($size / $icon-s) $transform;
    //             } @else {
    //                 transform: scale($size / $icon-s);
    //             }
    //             @if ($marginLeft) {
    //                 margin-left: $marginLeft - ($icon-s - $size) / 2;
    //             } @else {
    //                 margin-left: -($icon-s - $size) / 2;
    //             }
    //             @if ($marginRight) {
    //                 margin-right: $marginRight - ($icon-s - $size) / 2;
    //             } @else {
    //                 margin-right: -($icon-s - $size) / 2;
    //             }

    //             &:before {
    //                 width: $icon-s;
    //                 font-size: $icon-s;
    //             }
    //         }
    //     }
    // }
}