// @import './vars/_shadow.scss';
$icon-font-path: "https:////at.alicdn.com/t/font_515771_emcns5054x3whfr";

/// icon font name 自定义的icon font 名称
$icon-font-name: "icon" ;
$css-prefix:'foxview-';
$icon-font-family: "FoxviewIcon";