<li class="nav-dropdown-container learn">
  <a class="nav-link"><%=__('multi_language')%></a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><ul>
      <li><a href="<%- url_for("/") %>" class="nav-link">简体中文</a></li>
      <li><a href="<%- url_for("/es") %>" class="nav-link">English</a></li>
    </ul></li>
  </ul>
</li>
